<div class="p-a user-header">
  <div class="clearfix">
    <div class="pull-left avatar-xs-container">
      <img src="{{ profile_image_url }}" class="avatar avatar-xs" />
      Logged in as {{ display_name }}
    </div>
    <button class="pull-right btn btn-secondary btn-sm size-sm btn-align-middle js-logout">Log out</button>
  </div>
</div>
